body {
    font-family: Arial, sans-serif;
    background: #f2f7ff;
    margin: 0;
    padding: 0;
}

header {
    background: whitesmoke;
    color: none;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#chat-container {
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.146);
    /* background-image: url('chat-pg.jpg'); */
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10 0px black;
    overflow: hidden;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.user {
    text-align: right;
    background: #d6e4ff;
}

.bot {
    text-align: left;
    background: none;
}

#input-area {
    display: flex;
    border-top: 1px solid #ccc;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

#send-btn {
    background: rgba(44, 174, 217, 0.871);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#send-btn:hover {
    background: #727fd4;
    transition: 0.4;
}



/* content */


.content-scroll {
    max-width: 1200vw;
    width: 1250px;
    height: 240px;
    border: 1px solid white;
    scrollbar-color: darkgray;
    scrollbar-width: thick;
    display: flex;
    justify-content: space-evenly;
    gap: 2.7em;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 2em;
    /* margin-top: 1em; */
    background-color: white;
    padding-top: 2rem;
    padding-left: 2em;
    margin-top: 10px;
}

.scroll-h1 {
    width: 1285px;
    height: 50px;
    background-color: white;
    /* padding-top: 2em; */
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.scroll-h1 h1 {
    font-size: 1.5em;
}

.scroll-h1 a {
    text-decoration: none;
    font-size: 0.85em;
    color: blue;
    opacity: 0.6;
    margin-left: 2em;
    margin-top: 1em;
    font-weight: 600;
}

.scroll-h1 a:hover {
    text-decoration: underline;
    transition: 2s;
    font-size: 0.85em;
    color: blue;
    opacity: 0.6;
    margin-left: 2em;
    margin-top: 1em;
    font-weight: 600;
}

.doctor span {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}



footer {
    height: 280px;
    text-align: center;
    padding: 10px;
    color: gray;
    background-color: whitesmoke;
}

.map {
    width: 1000px;
    margin-left: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.map iframe {
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}